.login-style {
  h1, h5 {
    color: white;
    text-align: center;
  }

  h5 {
    color: $gray-blue;
    font-weight: 300;
  }

  label {
    font-weight: 300 !important;
  }

  .input-group.is-invalid {
    border: 1px solid red;
    border-radius: 4px;
  }

  %form-share {
    background: $blue-dark;
    border-color: $blue-dark;
  }

  input {
    @extend %form-share;
    color: white;

    &:focus {
      color: white;
      background: $blue-dark;
      border-color: $blue-dark;
    }
  }

  .input-group-text, .fa {
    @extend %form-share;
    color: $gray-blue;
  }

  .input-group-append button {
    @extend %form-share;
    color: $gray-blue;
  }

  button[type=submit] {
    background: $pink;
    color: white;

    &:enabled:hover {
      opacity: .6;
    }
  }

  a {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
}