.register-style {
  label {
    font-size: smaller;
    font-weight: 300 !important;
  }

  input {
    background: $gray-light;
    border-color: $gray-light;
    font-size: smaller;
    font-weight: 200;

    &:focus {
      border-color: $gray-light;
    }
  }

  button[type=submit] {
    background: $pink;
    color: white;

    &:enabled:hover {
      opacity: .6;
    }
  }

  a:hover {
    text-decoration: underline;
  }

  .ketentuan {
    font-size: 10px;
  }
}