@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

//fonts
$poppins: 'Poppins', sans-serif;

//colors
$blue: #1C2588;
$op-blue: rgba(77, 76, 172, 0.32);
$pink: #FA607E;
$op-pink: rgba(255, 128, 139, 0.32);
$blue-light: #7DBCFF;
$blue-dark: rgba(21, 27, 96, 0.88);
$pink-peach: #FF808B;
$black: #262727;
$gray-dark: #525254;
$gray-blue: #A6B4C2;
$gray-light: #F8F8F8;
$background-color: #F4F7FC;
$background-welcome: rgba(148, 154, 221, 0.32);

html, #__next {
  height: 100%;
}

.poppins-font {
  font-family: $poppins;
  font-style: normal;
  font-weight: 300;
}

.bg-blue {
  background: $blue !important;
}

.bg-pink-peach {
  background: $pink-peach !important;
}

.bg-pink {
  background: $pink !important;
}

.text-gray-blue {
  color: $gray-blue !important;
}

.text-gray-light {
  color: $gray-light !important;
}

.text-blue {
  color: $blue;
}

.text-op-blue {
  color: $op-blue;
}

.text-pink-peach {
  color: $pink-peach;
}

.text-pink {
  color: $pink;
}

.my-bg {
  background: $background-color;
}

@import "components/sidebar"; // Sidebar style
@import "components/navbar"; // Navbar style
@import "components/main"; // Main content style

/*
Login and register style
 */
.bar-style {
  i {
    color: $blue;
  }

  &:hover i {
    color: white;
  }

  &:hover {
    color: white;
    background: $blue;
    cursor: pointer;
  }

  &:active {
    opacity: .6;
  }
}

@import "login"; // Login page style
@import "register"; // Register page style
@import "pages/index"; // Index page style
@import "pages/course"; // Course list page style

/*
Materiku detail
 */
.back-button a {
  color: black;

  &:hover {
    color: $gray-blue;
  }
}

.course-detail-header {
  .exam-module {
    color: $gray-blue;
  }
}

#myTab {
  & .nav-link {
    font-weight: 500;
    padding-left: 3rem;
    padding-right: 3rem;
    color: $blue;

    &.active {
      color: black;
    }
  }
}

.module-list {
  background: $gray-light;
  cursor: pointer;

  &-numbering {
    background: $op-blue;
    color: white;
    width: 2rem;
    height: 2rem;
    padding-top: .25rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    font-weight: 500;
  }

  &.module-disable {
    opacity: .6;
    cursor: default;
  }

  &:disabled {
    background: $gray-light;
  }
}

@import "pages/exam"; // Exam page style
@import "components/card"; // Card component style
@import "pages/profile"; // Edit profile page style
@import "pages/result"; // Result page style
@import "pages/faq"; // FAQ page style
@import "components/loading"; // Loading style

/*
Scrollbar custom
 */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}