/*
Materiku card style
 */
.course-card {
  .border-bottom {
    border-bottom: 0.2rem solid $blue !important;
    padding-bottom: .75rem;
  }

  .card-text {
    color: $gray-blue;
    font-size: small;
  }

  .course-study-icon {
    height: 2em;
  }

  .course-study {
    font-weight: 600;
    font-size: 12pt;
  }


  %course-status-share {
    font-weight: 400;
    font-size: 6pt;
    text-align: center;
    width: 100%;
  }

  .course-status-pink {
    @extend %course-status-share;
    color: $pink;
    background: $op-pink;
  }

  .course-status-blue {
    @extend %course-status-share;
    color: $blue;
    background: $op-blue;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    opacity: .6;
  }
}

.course-header {
  span {
    color: $pink-peach;
  }
}

/*
Materiku categories filter
 */
.filter-by {
  button {
    padding: .75rem 1rem;
    background: white;
    color: black;

    &:hover {
      background: white;
    }

    &.reset {
      padding-left: 0
    }

    &.reset:hover {
      color: $pink-peach;
    }

    &.icon {
      background: $gray-blue;
      color: white;
    }

    span {
      color: $gray-blue;
    }
  }

  hr {
    margin: 0;
    border-color: $gray-blue;
  }

  .dropdown-item {
    padding: .75rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;

    &.active {
      background: $gray-blue;
    }

    &:active {
      background: $gray-blue;
    }
  }
}