.left-exam {
  .task-number button {
    color: white;
    background: $gray-blue;
    font-weight: 700;

    &:active {
      background: $gray-blue;
      opacity: .6;
    }

    &.active {
      background: $blue;
    }

    &.now {
      background: $pink;
    }
  }
}

.right-exam {
  .answer-button {
    background: $gray-blue;
    border: 0;
    width: 2.5rem;
    height: 2.5rem;

    &:active {
      background: $gray-blue !important;
      opacity: .6;
    }
  }
}

/*
Alert
 */
.exams-alert {
  h1 {
    color: black;
  }

  h3 {
    color: $pink;
  }

  p {
    color: $gray-blue;

    span {
      color: $blue;
      font-weight: 400;
    }
  }
}