.faq {
  h1 {
    color: $blue;
    font-weight: normal;
    padding: .5rem 0;
  }

  h6.subtitle {
    color: $gray-blue;
    font-weight: 300;
  }

  h6.description {
    color: $gray-dark;
    font-weight: 300;
  }

  h6.selection {
    cursor: pointer;
  }

  h6.faq-item.collapsed {
    font-weight: 400;
    color: $gray-blue;
  }

  h6.faq-item {
    font-weight: 400;
    color: $gray-dark;
  }

  .faq-item.collapsed ~ .icon-plus {
    display: block;
    color: $blue;
  }

  .faq-item ~ .icon-plus {
    display: none;
  }

  .faq-item.collapsed ~ .icon-minus {
    display: none;
    color: $gray-dark;
  }

  .faq-item ~ .icon-minus {
    display: block;
  }
}