/*
Welcome card
 */
.welcome-card {
  background: $background-welcome;

  .card-body {
    p {
      &.card-title {
        color: $blue;
        font-size: 24pt;
      }

      &.card-text {
        color: $gray-dark;
        padding-top: .2rem;

        a, span {
          color: $blue;
          font-weight: 600;
        }

        a:hover {
          opacity: .6;
        }
      }
    }
  }
}

/*
Riwayat belajar
 */
.tanggal-riwayat {
  font-size: x-small;
  color: #A6B4C2;
}

.detail-riwayat {
  font-size: small;
}

/*
Module card
 */
.total-module {
  color: #7DBCFF !important;
}