.edit-profile {
  .photo-profile {
    width: 8rem;
  }

  .profile-form {
    label {
      font-weight: 400;
    }

    input {
      background: $gray-light;
      border: 0;
      padding: 1.5rem;
      font-weight: 200;
    }

    input#username {
      opacity: .5;
    }

    button {
      background: $pink;
      color: white;
      margin-top: 2.5rem;
    }

    button:hover {
      opacity: .8;
    }

    button:active {
      opacity: .6;
    }
  }
}