.result {
  .left-panel {
    .course-title {
      color: $gray-blue;
      font-size: small;
    }

    .course-value {
      color: $blue-dark;
      font-weight: 600;
    }

    .total-score {
      color: $blue-dark;
      font-weight: 600;
    }

    .text-score {
      color: $gray-blue;
      font-size: small;
    }
  }

  .welcome {
    h4 {
      color: $blue-dark;
      font-weight: 500;
    }

    p {
      color: $gray-blue;

      b {
        color: $blue-dark;
        font-weight: 500
      }
    }
  }

  .grafik {
    .w-100 {
      border-bottom: 1px solid $gray-blue;
    }
  }
}