/*
All course stlye
 */
.all-course-card {
  button {
    background: $pink;
    color: white !important;

    &:hover {
      opacity: .8;
    }

    &:active {
      opacity: .6;
    }
  }
}

/*
My Course Style
 */
.my-course-card {
  &:hover {
    cursor: pointer;
    opacity: .8;
  }

  &:active {
    opacity: .6;
  }
}