.main-header {
  background: $background-color;

  .input-group-text, input {
    background: white !important;
    border: none;
    color: $gray-blue;
    font-weight: 200;
  }

  .photo-profile {
    width: 2rem;
    height: 2rem;
  }

  .my-search button {
    color: $gray-dark;
    border: 0;
    background: white;

    &:hover {
      opacity: .6;
    }

    &.clean-button:hover {
      opacity: 1;
      color: $pink;
    }
  }
}