.sidebar-collapse {
  .d-flex.justify-content-center.pt-4.pb-0 {
    padding-bottom: 1.5rem !important;
  }

  .nav-sidebar {
    .nav-item {
      .nav-link {
        padding-left: 0.75rem !important;
        &.active {
          padding-left: 0.90rem !important;
          border: 0 !important;
        }
      }
    }

    &:hover {
      .nav-link {
        &.active {
          border-left: 6px solid !important;
        }
      }
    }
  }

  .brand-image {
    margin-left: 2rem !important;
    padding: 0;
  }
}

.main-sidebar {
  .nav-sidebar {
    .nav-item {
      .nav-link {
        color: $gray-blue !important;
        padding: 1.5rem;

        &.active {
          color: $blue !important;
          background: $gray-light !important;
          border-color: $blue !important;
          border-left: 6px solid;
          cursor: default;
        }

        p {
          padding-left: 1rem;
        }
      }

    }

    .nav-header {
      color: $gray-dark;
      font-weight: 500;
    }
  }

  .brand-image {
    margin: 0;
  }
}